
<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">



<form class="container" ng-submit="favouritesNew.submit()">
  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label">Add a Country</label>
    <div class="col-10">
      <input class="form-control" type="text" ng-model="favouritesNew.favourite.country" id="example-text-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-2 col-form-label">Add a City</label>
    <div class="col-10">
      <input class="form-control" type="text" ng-model="favouritesNew.favourite.city" id="example-search-input">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-email-input" class="col-2 col-form-label">Favorite place to visit</label>
    <div class="col-10">
      <input class="form-control" type="text"  ng-model="favouritesNew.favourite.places_to_visit">
    </div>
  </div>
  <div class="form-group row">
    <label for="form-control" class="col-2 col-form-label" type="text">Favorite restaurant</label>
    <div class="col-10">
      <input class="form-control"  type="text" ng-model="favouritesNew.favourite.restaurants">
    </div>
  </div>
  <div class="form-group row">
    <label for="example-tel-input" class="col-2 col-form-label">Favorite Hotel</label>
    <div class="col-10">
      <input class="form-control" type="text" ng-model="favouritesNew.favourite.hotels">
    </div>
  </div>
  <button type="submit" name="button"> Add a favorite</button>
</form>
