
<div class="">
  <h1>{{ usersShow.user.username }}'s favorite places'</h1>

  <ul>
    <li ng-repeat="favourite in usersShow.user.favourites">
      <ul>
        <li>Places to visit: {{favourite.places_to_visit}}</li>
        <li>Hotels: {{favourite.hotels}}</li>
        <li>Restaurants: {{favourite.restaurants}}</li>
        <li>Country: {{favourite.country}}</li>
        <li>City: {{favourite.city}}</li>
    </ul>
  </li>
  </ul>
</div>

<button ui-sref="favouritesNew" type="Add a favorite" name="button"> Add a favorite</button>
