<!-- <img src="images/boy-driving.jpeg" style="width:200;height:200"> -->

<!-- <h1>hello</h1> -->

<div class="jumbotron">
  <h1 class="display-3">Welcome to TravelBase!</h1>
  <p class="lead"></p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" ui-sref="register" role="button">Favorite Away</a>
  </p>
</div>
<div class="instructions">
  <div class="step">
    <p>1. Register or login to add your favorite locations and share them with the world!</p>
  </div>
  <div class="step">
    <p>2. Explore other people's favorite places and join in the fun!</p>
  </div>
</div>
